# Assignment 2

### **Question - 1** Write a program to accept percentage from the user and display the grade according to the following ?

 Marks                Grades

A    =            >90

B    =            >80 and <=90  

C    =            >60 and <=80

D    =            Below 60

In [1]:
#Ans.
marks = int(input('Enter the marks to get grades'))
if marks >= 90 :
    print("A")
elif marks >= 80 and marks <90:
    print("B")
elif marks >= 60 and marks <80:
    print("C")
else :
    print("D")

Enter the marks to get grades 1

D

### **Question - 2** Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:
 Tax                Cost Price(in Rs)

15%     =            >100000

10%     =            >50000 and <=100000

5%      =           <=50000

In [2]:
#Ans
Tax = int(input('Enter cost price'))
if Tax >= 100000 :
    print("15%")
elif Tax >= 50000 and marks <100000:
    print("10%")
else :
    print("5%")

Enter cost price 54524210

15%

# **Question - 3** Accept any city from the user and display monuments of that city. 

 City                   Monument 

Delhi       =           Red Fort 

Agra        =           Taj Mahal 

Jaipur      =           Jal Mahal

In [4]:
#Ans 
City = input('City')
if City == 'Delhi' :
    print("Red Fort")
elif City == 'Agra'  :
    print("Taj Mahal")
elif City == 'Jaipur'  :
    print("Jal Mahal")
else :
    print("Please enter from the  list given cites for show Monument ")

City 0

Please enter from the  list given cites for show Monument

# **Question - 4** Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [11]:
num = int(input("Enter a number: "))
count = 0

while num > 10:
    num = num / 3
    count += 1

print("The number can be divided by 3", count, "times before it is less than or equal to 10.")

Enter a number:  9

The number can be divided by 3 0 times before it is less than or equal to 10.

# **Question - 5** Why and When to Use while Loop in Python give a detailed description with example.

#### **Ans. 5** The while loop in Python is used to execute a block of statements repeatedly until a given condition is satisfied. The condition is evaluated before the loop runs, and if it evaluates to True then the code within the loop's body will be executed. It can be used for iterating over data structures such as lists and dictionaries, or when a certain condition needs to be met.

# **Question - 6** Use nested while loop to print 3 different pattern.

#### 1.

In [1]:
# outer loop
for i in range(1, 11):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 11):
        # print multiplication
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [1]:
rows = 5
# outer loop
for i in range(1, rows + 1):
    # inner loop
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [2]:
names = ['Kelly', 'Jessa', 'Emma']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 5:
        print(name, end=' ')
        # increment counter
        count = count + 1
    print()

Kelly Kelly Kelly Kelly Kelly
Jessa Jessa Jessa Jessa Jessa
Emma Emma Emma Emma Emma

# **Question - 7** Reverse a while loop to display numbers from 10 to 1 ?

In [18]:
# Ans 
a = 10

while a > 0 :
    print(a)
    a = a - 1 
print(a)

10
9
8
7
6
5
4
3
2
1
0

# End